@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html{
    scroll-behavior: smooth;
    font-family: 'Merriweather', sans-serif;
}

.custom-img{
    background-image: url("/images/home-hero-2@2x.jpg");
}

.about-img{
    background-image: url("/images/aboutPhoto.png");
}

.armada-img{
    background-image: url("/images/Armada.svg");
}

.contact-img{
    background-image: url("/images/contactsPic.png");
}

